/*Ska innehålla olika stilelement så ja kan träna på Rulesetet för CSS*/


body {
    font-family: 'Franklin Gothic Medium';
    background-color: black;
    color: antiquewhite;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
    align-items: center;
    background-color: red;
    }

#trollkarlsbild {
    display: block;
    max-width: 100%;

}

.textbubbla, .text-bredvidbild {
    color: black;
    padding: 20px;
    background-color: aqua;
 }



p[class=pratbubbla] {
    border-color: antiquewhite;
    border: 1px;
    border-style: dashed;
    padding: 5px;
    background-color: blue;
    
}




.leftie {
    grid-column: span 2;
    background-color: green;
    margin-inline: auto;
    
}

.rightie {
    grid-column: span 1;
    background-color: greenyellow;
    margin-inline: left;
}

.l2 {
    grid-column: span 1;
    background-color: green;
}

.r2 {
    grid-column: span 2;
    background-color: greenyellow;
}


@media (max-width: 900px) {
    .leftie, .rightie, .l2, .r2 {
        grid-column: span 3;
        background-color: teal;
    }

}

@media (max-width: 600px) {
    .leftie, .rightie, .l2, .r2 {
        grid-column: span 3;
        background-color: burlywood;
    }

}

.länk:hover {
    background-color: chartreuse;
    
    transition: ease-in 0.3s;
}